.fondo1 {
    background-image: url(cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.boton2 {
    width: 100px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}
.boton3 {
    width: 200px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}
.boton4 {
    width: 100px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}
.boton5 {
    width: 100px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}
.boton6 {
    width: 200px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}
.boton7 {
    width: 200px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}
.boton8 {
    width: 200px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}