.fondo{
  background-image: url(gris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.boton5 {
    width: 100px;
    height: 30px;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: rgb(9, 22, 22);
    background-color:azure;
    border: none;
    border-radius: 15px;
    box-shadow: 8px;
    margin-right: 10px;

}
.contenedor {
    width: 40%; /* Ancho de la estructura */
    margin: 0 auto; /* Centrar la estructura */
    text-align: center; /* Centrar el texto */
  }

  img{
    width: 300px;
    height: 300px;
  }
  