body{
    text-align: center;
<<<<<<< HEAD
    background: linear-gradient(white, rgb(172, 172, 172),white);
=======
    background-color: #ffffff;
>>>>>>> eef48f29dd8ec2a97b1bcb54d3e3c75eb5d95a96
    color: black;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
button{
    text-decoration: none;
    background-color: rgb(255, 7, 7);
    color: rgb(255, 255, 255);
    margin-right: 15px;
    padding: 7px 20px;
    border-radius: 10px;
    border-color: crimson;
}
button:hover {
    cursor: pointer;
}
input{
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
}
h4{
    display: inline-block;                                  
}
a{
    text-decoration: none;
    background-color: rgb(231, 4, 4);
    color: rgb(255, 255, 255);
    margin-right: 15px;
    padding: 7px 20px;
    border-radius: 10px;
}